@charset "utf-8";
/* CSS Document */

/*nav*/
#innernav{
	width: 80%;
	height: 186px;
	margin: 0 auto;
}

#innernav img{
	float: left;
}


#navlist{
	list-style: none;
	float: right;
	margin: 0 0 0 0;
	border-top: #ffcc00 2px solid;
	overflow: hidden;
}

#navlist li{
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	float: left;
	display: inline-block;
	width: 98px;
	height: 38px;
}

#navlist a {
	display: block;
	padding: 10px 0 0 0;
}

#navlist a:hover {
	color: #dcdcdc;
}

#navlist .current a {
	background: url(../images/navhover.png);
	color: #000;
	width: 98px;
	height: 38px;
}

.current {
	background: none;
}

/*end nev*/

/*slider start*/
.slider-wrapper { 
	width: 100%; 
	margin: 0px auto;
}

/*slider over*/

/*mainstyle*/
.normal{
	width: 80%;
	height: 500px;
}
