@charset "utf-8";
/* CSS Document */

/*nav*/
#innernav{
	width: 80%;
	height: 186px;
	margin: 0 auto;
}

#innernav img{
	float: left;
}


#navlist{
	list-style: none;
	float: right;
	margin: 0 0 0 0;
	border-top: #ffcc00 2px solid;
	overflow: hidden;
}

#navlist li{
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	float: left;
	display: inline-block;
	width: 98px;
	height: 38px;
}

#navlist a {
	display: block;
	padding: 10px 0 0 0;
}

#navlist a:hover {
	color: #dcdcdc;
}

#navlist .current a {
	background: url(../images/navhover.png);
	color: #000;
	width: 98px;
	height: 38px;
}

.current {
	background: none;
}

/*end nev*/

/*slider start*/
.slider-wrapper { 
	width: 100%; 
	margin: 0px auto;
}

/*slider over*/

/*纯色色块*/

.nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

#home,#services,#works,#contact{
	background: black;
}

.top_box{
	border-left-width: 716px;
	border-width: 0 0 60px 2880px;
	border-style: solid solid solid dashed;
	width: 0px;
	height: 0px;
	z-index: 1500;
	position: relative;
}

.serv_top,.con_top{
	border-color: transparent transparent #ffcc00 transparent;
}


.serv_mid,.con_mid{
	background: #ffcc00;
	width: 100%;
	z-index: 1500;
	position: relative;
}

.serv_mid{
	height: 700px;
}
.con_mid{
	height: 650px;
}

.bot_box{
	border-right-width: 916px;
	border-width: 0 3880px 60px 0px;
	border-style: solid dashed solid solid ;
	width: 0px;
	height: 0px;
	z-index: 1500;
	position: relative;
}

.serv_bot,.con_bot{
	border-color: transparent #ffcc00 transparent  transparent;
}

/*纯色色块结束*/