@charset "utf-8";
/* CSS Document */

/*视差效果css*/
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #ffcc00;
}

#mainnav{
	background:url(../images/nav_bg.png) repeat-x fixed;
	width: 100%;
	height: 186px;
	position: fixed;
	top: 0px;
	z-index: 3000;
}


#section-1, #section-3, #section-5{
	width: 100%;
}

#section-1{
	background:url(../images/bg1.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

#section-2 {
	margin: -120px 0 0 0;
	
}

#section-3{
	background: url(../images/slider3.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1253px;
	margin: -120px 0 0 0;
	padding: 0;
	position: relative;
	z-index: 1;
	background-size: 100%;
}

#section-4 {
	margin: -120px 0 0 0;
}

/*视差效果css over*/